<div class="panel panel-default">
    <div class="panel-heading">
        <h1>All units</h1>
    </div>
    <div class="panel-body">


        <table  *ngIf="leastUnit" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Birim adı</th>
                    <th>Birim Türü</th>
                    <th>Birim Açılış Tarihi</th>
                    <th>Açıklamalar</th>
                    <th>Uygulama</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let unt of leastUnit" >
                    <td>{{unt.id}}</td>
                    <td>{{unt.name}}</td>
                    <td>{{unt.type}}</td>
                    <td>{{unt.opendate}}</td>
                    <td>{{unt.remark}}</td>
                    <td><button class="btn btn-outline-info btn-sm" (click)="getLeastUnit(unt.id)">Alt Birimler</button></td>   
                </tr>
            </tbody>
        </table>
    </div>
</div>

