<h3>Yeni Kullanıcı Kaydı</h3>>
<form [formGroup]="userAddForm" (ngSubmit)="saveUser()">
  <div class="form-group">
      <label for="name">Kullanıcı adı</label>
    <input type="text" name="name" id="name" formControlName="name" class="form-control" placeholder=" Adınız">
    <div class="alert alert-danger" *ngIf="userAddForm.get('name').hasError('required') && userAddForm.get('name').dirty">İsim alanı dolması zorunludur.</div>
  </div>

    <div class="form-group">
      <label for="type">Kullanıcı soyadı</label>
      <input type="text" name="surname" id="surname" formControlName="surname" class="form-control" placeholder="Soyadınız">
      <div class="alert alert-danger" *ngIf="userAddForm.get('surname').hasError('required') && userAddForm.get('surname').dirty">Soyadı alanı dolması zorunludur.</div>
      
    </div>

    <div class="form-group">
        <label for="opendate">Kullanıcı giriş adı</label>
        <input type="text" name="username" id="username" formControlName="username" class="form-control" placeholder="Kullanıcı adınız">
        <div class="alert alert-danger" *ngIf="userAddForm.get('username').hasError('required') && userAddForm.get('username').dirty">Kullanıcı adı alanı dolması zorunludur.</div>
      </div>

      <div class="form-group">
          <label for="remark">E-mail</label>
          <input type="text" name="email" id="email" formControlName="email" class="form-control" placeholder="E-mail Adresiniz">
          <div class="alert alert-danger" *ngIf="userAddForm.get('email').hasError('required') && userAddForm.get('email').dirty">email alanı dolması zorunludur.</div>
         
        </div>

        <div class="form-group">
            <label for="attachedunit">Şifre</label>
            <input type="text" name="password" id="password" formControlName="password" class="form-control" placeholder="Şifreniz" >
            <div class="alert alert-danger" *ngIf="userAddForm.get('password').hasError('required') && userAddForm.get('password').dirty">şifre alanı dolması zorunludur.</div>
            
          </div>

          
          <button type="submit" class="btn btn-success" > ekle </button>
</form>
<div class="row"  *ngIf="showMsg">
  <div class="col-xs-12">
    <p class="alert alert-success">
        <strong>Kullanıcı başarılı bir şekilde kaydedildi</strong>
    </p>
  </div>
</div>