<div class="col-md-6 user-container">
    <h2 class="text-center">Birimi Güncelle</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="id">birim id</label>
        <input type="number" formControlName="id" placeholder="birim id" name="id" class="form-control" id="id" readonly="true">
      </div>

      <div class="form-group">
        <label for="name">Birim adı</label>
        <input formControlName="name" placeholder="Birim adı" name="name" class="form-control" id="name" required>
        <div *ngIf="false" class="alert alert-danger">birim adı gereklidir.</div>
      </div>


      <div class="form-group">
        <label for="type">Birim türü</label>
        <select class="form-control" formControlName="type" name="type" id="type">
            <option  [ngValue]="type.namee" *ngFor="let type of types"  >{{type.namee}}</option>
          </select>
      </div>
  
      <div class="form-group">
        <label for="opendate">Birim Açılış Tarihi</label>
        <input formControlName="opendate" placeholder="Birim Açılış Tarihi" name="opendate" class="form-control" id="opendate">
      </div>
  
      <div class="form-group">
        <label for="remark">Açıklamalar:</label>
        <input type="text" formControlName="remark" placeholder="Açıklamalar" name="remark" class="form-control" id="remark">
      </div>
  
      <div class="form-group">
        <label for="attachedunit">Bağlı birim id</label>
        <input type="text" formControlName="attachedunit" placeholder="Bağlı birim id" name="attachedunit" class="form-control" id="attachedunit" readonly="true">
      </div>
      <div class="form-group">
        <label for="attachedunit">type id</label>
        <select class="form-control" formControlName="typeid" name="typeid" id="typeid">
            <option  [ngValue]="type.id" *ngFor="let type of types"  >{{type.id}} -- {{ type.namee}}</option>
          </select>
      </div>

  
      <button class="btn btn-success" [disabled]="editForm.invalid">Güncelle</button>

    </form>

  </div>

  <div class="row"  *ngIf="showMsg">
    <div class="col-xs-12">
      <p class="alert alert-success">
          <strong>Birim başarılı bir şekilde güncellendi.</strong>
      </p>
    </div>
  </div>